body{
  background-color: black;
}
.roboto-mono-font {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 750;
  font-style: normal;
}
.exo-2-font {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 150;
  font-size: xx-large;
  font-style: normal;
}
.header_container{
  display: flex;
 position: absolute;
 z-index: 1;
  width: 99%;
  justify-content: space-between;
  align-items: center;
}
.header_items{
  color: white;
  padding: 1 40px;
}
.Supporting{
  display: flex;
  gap: 250px;
  position: absolute;
  margin-top: 115px;
  z-index: 1;
}
.supporting_items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-top: 100px;
  color: white;
}
.supporting_img{
  width: 500px;
  height: 500px;
}
.sup_img{
  height: 600px;
  width: 600px;
}
.header_items>ul{
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 80px;
}
.header_items>ul>li{
padding: 10px;
margin: 10px;
}
.Account_access{
  display: flex;
  gap: 20px;
}
.Plogo{
  height: 70px;
  width: 290px;
}
.Pimage{
  height: 75px;
  width: 215px;
}
.Logo_btn{
  border: none;
  background-color: aqua;
  border-radius: 30px;
  height: 40px;
  width: 120px;
  cursor: pointer;
}